.previewPicture {
    width: 400px;
}

.createFeedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 624px;

    background-color: #f7f7f7;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;

}

.createFeedInnerContainer {
    z-index: 4;
    margin: 4px;
    width: 300px;
    background-color: white; /* Change the background color to white */
    border: 1px solid black; /* Add a border */
    padding: 10px; /* Add some padding for better spacing */
    
  }

