.navbar {
    width: 100%;
}

.searchbar {
    max-width: 690px;
}

li {
    min-width: max-content;
}

.searchbar-outer {
    width: 100%;

}

.search-span {
    position: absolute 
}

.search-span:hover {
    color: darkcyan;
    transform: scale(1.1);
}

.profile-span {
    position: absolute;
    z-index: 9999;
}

.profile-span-item:hover {
    transform: scale(1.1); 
    cursor: pointer;
} 

@media screen and (max-width: 1260px) {
    .searchbar {
       width: 600px;
       margin-bottom: 10px;
    }

    .searchbar-outer {
        width: 90%;
    }

    .right-navbar {
        margin-left: 20px;
    }

    .navbar-toggler {
        position: absolute;
        top: 1px;
        right: 1px;
    }
}
