

.navbar {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 1;
}

.searchbar {
    max-width: 690px
    
}

.right-navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

li {
    min-width: max-content;
}