.navbar {
    position: fixed;
    top: 0em;
    width: 100%;
    z-index: 0;
    transform: translateZ(999999px);
    
}

.searchbar {
    max-width: 690px;
}

li {
    min-width: max-content;
}

.searchbar-outer {
    width: 100%;

}

.search-span {
    position: absolute 
}

.search-span:hover {
    color: darkcyan;
    transform: scale(1.1);
}

.profile-span {
    position: absolute;
    width: fit-content;
    right: 0;
    top: 62px;
    list-style: none !important;
    z-index: 9999 !important;
    animation: slideIn 1s ease;
    padding: 10px 200px 100% 10px;
}

@keyframes slideIn {
0% {
    transform: translateX(100%);
}

100% {
    transform: translateX(0%);
}
}

.profile-span-item:hover {
    transform: scale(1.1); 
    cursor: pointer;
} 

@media screen and (max-width: 1260px) {
    .searchbar {
       width: 600px;
       margin-bottom: 10px;
    }

    .searchbar-outer {
        width: 90%;
    }

    .right-navbar {
        margin-left: 20px;
    }

    .navbar-toggler {
        position: absolute;
        top: 1px;
        right: 1px;
    }

    .profile-span {
        top: 190px
    }
}
