.loading-overlay {
    position: absolute;
    top: 70px;
    left: 200px;
    width: 90%;
    height: 95%;
    background-color: rgb(255, 255, 255); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Adjust the z-index to make sure it appears above other elements */
}
  
.summarize-outer {
    margin-top: 50px;
}

.loading-spinner {
    width: 100px;
    height: 100px;
}

.main-content-headline {
    width: 624px;
    margin-top: 30px;
}

.feed-button {
    position: absolute;
    right: 20px;
    top:  100px;
}

@media screen and (max-width: 1260px) {

    .summarize-outer {
        margin-top: 70px;
    }

    .loading-overlay {
        left: 0px;
        width: 100%;
    }

    .feed-button {
        top: 130px;
    }

}

@media screen and (max-width: 1100px) {
    .summarize-outer {
        margin-top: 100px;
    }
}

