.loading-overlay {
    position: absolute;
    left: 200px;
    width: 90%;
    height: 95%;
    background-color: rgb(255, 255, 255); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loading-spinner {
    width: 100px;
    height: 100px;
}

.main-content-headline {
    width: 624px;
    margin-top: 30px;
}

.feed-button {
    position: absolute;
    right: 20px;
    top:  100px;
}

@media screen and (max-width: 1260px) {

    .loading-overlay {
        left: 0px;
        width: 100%;
    }
}

